@import 'color';

.navbar-inverse {
  background-color: $dark;
  border-color: $dark-trim;
}

.navbar .btn-success {
  background: $light;
  border-color: $light-trim;
}

.navbar .btn-success:hover {
  background: $light-trim;
  border-color: $dark;
}

.navbar-brand {
  text-shadow: 1px 1px 1px black;
  color: $background-darker!important;
}
