.environments {
  margin-top: 1em;
}

.environment {
  text-align: center;
}

.env-spacer {
  text-align: center!important;
  padding-top: 20px;
}

.row-centered {
  text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
